<launch>

<node pkg="global_planner_sim"
          type="grid_map_node"
          name="grid_map_node"
          output="screen" />

<node pkg="global_planner_sim"
          type="global_planner_node"
          name="global_planner_node"
          output="screen" />

 <node pkg="rviz"
          type="rviz"
          name="rviz"
          />

</launch>